* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--cinza-primary) !important;
}
:root{
    --blue-primary:#00BBC9;
  --cinza-primary:#324B4E;
  --cinza-secondary:#94B0B3;
  --blue-secondary:#3A8FD7;
  --transparence-primary:#cacaca;
  }
.termos{
    padding: 20px;
    margin:auto;
    background: none;
    width: 90%;
    height:auto;
    border-radius: 25px;
}
.termos div{
    padding: 20px;
    margin:auto;
    background-color: #cacaca;
    width: 90%;
    height:auto;
    border-radius: 25px;
}

.termos p{
    padding-top: 10px;
}


@media(max-width:1200px){
    .termos{
        width: 90%;
        height: auto;
    }
    body{
        padding-top: 20px;
        height: auto;
    }
    .logo{
        width: 200px;
    }

}