* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #24c0eb;
}
.login{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height:auto;
    background-color:#Cacaca;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex !important;
    flex-direction: column;
}

.check-list{
    display: grid;
}
.mb-3{
    width: 100% !important;
}



a{
    text-decoration: none;
    color: #0000FF; 
}
.btn-primary{
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 20px;
}

.btn-primary:hover{
    background-color: #24c0eb;
    border:  #00bbc9;
}

