* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 255, 255);
}

header {
  height: 98px;
  width: 100%;
  min-width: 600px;
  position: flex;
  background-color: #00bbc9;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.logo{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;
  padding: 0vw 2vw;
  height: 98px;
  width: 1440px;
}

.username {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  height: 34px;
}
.foto-user {
  align-items: center;
 justify-content: center;
 padding-left: 25px;
}

.menu {
  padding:  12px;
  padding-left: 15vw;
  display: block;
  cursor: pointer;
}
#op {
  position: absolute;
  padding: 2vw;
  background: none;
}

.op-header {
  list-style-type: none;
  display: block;
  background-color: #00bbc9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
nav{
  display: none;
}


nav li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 25px;
}
.search{
  display: flex;
  height: 50px;
  padding: 10px;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #000000;
  background-color: #CACACA;
  width: 70%;
  }

  .lupa{
    cursor: pointer;
    margin: 8px;
  }

#searchInput{
  padding:8px;
  border: none;
  background-color: #ffffff;
  border-radius: 25px;
  width: 95%;
  outline: none;
}

a {
  display: block;
  text-decoration: none;
}

